@{
    ViewBag.Title = "BeautyStore";
}


<center>
    <img src="https://cdn.pixabay.com/photo/2017/08/08/16/06/cosmetics-2611803_960_720.png" alt="prueba" height="400" width="960">
</center>
<div>
    <h1 style="text-align:center;">Beauty Store</h1>
    <p class="lead">.</p>

</div>

<div class="row">
    <div class="col-md-2">
        <h2 style="font-size:150%;">@Html.ActionLink("Marcas", "Index", "Marcas")</h2>
        <p>
        </p>
    </div>

    <div class="col-md-2">
        <h2 style="        font-size: 150%;">@Html.ActionLink("Productos", "Index", "Productos")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2 style="        font-size: 150%;">@Html.ActionLink("Clientes", "Index", "Clientes")</h2>
        <p></p>
    </div>
    <div class="col-md-2">
        <h2 style="        font-size: 150%;">@Html.ActionLink("Empleados", "Index", "Empleados")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2 style="        font-size: 150%;">@Html.ActionLink("Paqueterias", "Index", "Paqueterias")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2 style="        font-size: 150%;">@Html.ActionLink("Ventas", "Index", "Ventas")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2 style="        font-size: 150%;">@Html.ActionLink("Proveedores", "Index", "Proveedors")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2 style="        font-size: 150%;">@Html.ActionLink("Paquetes", "Index", "Paquetes")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2 style="        font-size: 150%;">@Html.ActionLink("Categorias", "Index", "Categorias")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2 style="        font-size: 150%;">@Html.ActionLink("Pedidos", "Index", "Pedidos")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2 style="        font-size: 150%;">@Html.ActionLink("Compras", "Index", "Compras")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2 style="        font-size: 150%;">@Html.ActionLink("Almacenes", "Index", "Almacenes")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2 style="        font-size: 150%;">@Html.ActionLink("Sucursales", "Index", "Sucursales")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2 style="        font-size: 150%;">@Html.ActionLink("Formas de pago", "Index", "FormaPagos")</h2>
        <p></p>
    </div>
    <div class="col-md-2">
        <h2 style="        font-size: 150%;">@Html.ActionLink("Devoluciones", "Index", "Devoluciones")</h2>
        <p></p>
    </div>
    <div class="col-md-2">
        <h2 style="        font-size: 150%;">@Html.ActionLink("Pedido Productos", "Index", "PedidoProductos")</h2>
        <p></p>
    </div>

    <div class="col-md-2">
        <h2 style="        font-size: 150%;">@Html.ActionLink("Compra productos", "Index", "CompraProductos")</h2>
        <p></p>
    </div>
    <div class="col-md-2">
        <h2 style="        font-size: 150%;">@Html.ActionLink("Producto Almacenes", "Index", "ProductoAlmacenes")</h2>
        <p></p>
    </div>
    <div class="col-md-2">
        <h2 style="        font-size: 150%;">@Html.ActionLink("Pedido Devoluciones", "Index", "PedidoDevoluciones")</h2>
        <p></p>
    </div>

    
</div>
