@model IEnumerable<BeautyStoreArisbeth.Models.Paquete>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de paquetes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.decripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idPaqueteria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idPedido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.decripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idPaqueteria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idPedido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPaquete }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPaquete }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPaquete })
        </td>
    </tr>
}

</table>
